@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow');
h1 { color: var(--color-primary, 0)}
h5 { color: var(--color-secondary, 0);}

:root {
    --global-font: 'Helvetica Neue', sans-serif;
    --header-font: var(--global-font);
    --content-font: var(--global-font);
    --font-size: 16px;
    --color-dark: var(--color-black);
    --color-neutral: var(--color-gray);
    --color-light: var(--color-white);
    
    --color-primary: #085ff7;
    --color-orange: #ff6600;
    --color-secondary: var(--color-orange);
    --color-accent: #666666;
    --color-yellow: #ffb100;
    --color-green: #008040;
    --color-purple: #551a8b;
    --color-violet: #cd29c0;
    --color-blue: #0000cc;
    --color-sky-blue: #99ccff;
    /* Container */
    --container-padding: 1vh 1vw;
    --container-background: 0;
        /* Grid */
    --grid-column-width: 3vw;
    --grid-column-height: 1vh;
            /* Column */
    --column-height: calc(var(--grid-column-height) / 2);
    --column-width: calc(var(--grid-column-width) / 2);
}

/* section {display: flex;}
 */
@media screen and (max-width: 640px) {
    :root {
        --font-size: 13px; 
    }
}
