@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|ZCOOL+QingKe+HuangYou');
:root {
    /* Main Colors */
    --color-primary: var(--color-red);
    --color-secondary: var(--color-blue);
    --color-accent: var(--color-green);
    --color-dark: var(--color-black);
    --color-neutral: var(--color-gray);
    --color-light: var(--color-white);
    
    /* Colors */
    --color-red: #FF4136;
    --color-orange: #FF851B;
    --color-yellow: #FFDC00;
    --color-green: #2ECC40;
    --color-blue: #0074D9;
    --color-indigo: #001f3f;
    --color-violet: #B10DC9;
    /* Grayscale */
    --color-black: black;
    --color-gray: gray;
    --color-white: white;
    /* CSSDOM */
    /* Page */
    --page-background: 0;
        /* Header */
    --header-font: 'ZCOOL QingKe HuangYou', sans-serif;
    --header-color: var(--color-blue);
        /* Footer */
    --content-font: 'Open Sans Condensed', sans-serif;
    --content-size: 16px;
    --content-color: var(--color-black);
    /* Container */
    --container-padding: 1vh 1vw;
    --container-background: 0;
        /* Grid */
    --grid-column-width: 3vw;
    --grid-column-height: 1vh;
            /* Column */
    --column-height: calc(var(--grid-column-height) / 2);
    --column-width: calc(var(--grid-column-width) / 2);
}

/* section {display: flex;}
 */
@media screen and (max-width: 640px) {
    :root {
        --font-size: 13px; 
    }
}


@media screen and (max-width: 900px) {
    section {display: block;max-width: 90vw; position: relative;}
    section > :not(:first-child) { margin-top: var(--column-height); }
}