@import './theme.css';

@import './color-summary.css';

feature-tests {
    display: block;
}

[color="primary"] { color: var(--color-primary); }

#colors { color: var(--color-primary); -webkit-animation: color-wheel 4s infinite;
}

#colors + section > div[block] { display: block; }


@-webkit-keyframes color-wheel {
    0% { -webkit-filter: hue-rotate(0deg);}
    50% { -webkit-filter: hue-rotate(180deg); }
    100% { -webkit-filter: hue-rotate(360deg); }
  }



