@import './theme.css';
/* Those color swatches don't come easy. */
@import './color-summary.css';

/* Let's do some fancy color changing. */
#colors { color: var(--color-primary); -webkit-animation: color-wheel 4s infinite; }
@-webkit-keyframes color-wheel {
    0% { -webkit-filter: hue-rotate(0deg);}
    50% { -webkit-filter: hue-rotate(180deg); }
    100% { -webkit-filter: hue-rotate(360deg); }
}



